################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/.idea
/web-library/appsettings.json
/web-library/bin
/web-library/obj
/web-library/web-library.csproj.user
/web-library/obj/project.assets.json
/web-library/obj/project.nuget.cache
/web-library/obj/web-library.csproj.nuget.dgspec.json
/web-library/obj/web-library.csproj.nuget.g.props
/web-library/obj/web-library.csproj.nuget.g.targets
/web-library/obj/project.assets.json
/web-library/obj/project.nuget.cache
/web-library/obj/web-library.csproj.nuget.dgspec.json
/web-library/obj/web-library.csproj.nuget.g.props
/web-library/obj/web-library.csproj.nuget.g.targets
/web-library/Book/Controller/BookController.cs
/web-library/appsettings.json
/web-library/obj/project.assets.json
/web-library/obj/project.nuget.cache
/web-library/obj/web-library.csproj.nuget.dgspec.json
/web-library/obj/web-library.csproj.nuget.g.props
/web-library/obj/web-library.csproj.nuget.g.targets
/web-library/bin/Debug/net8.0/web-library.dll
/web-library/bin/Debug/net8.0/web-library.dll
/web-library/bin/Debug/net8.0/web-library.dll
